.vs/
.vscode/
*.swp
*.swo
*~

*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

!*/[Bb]in/
!*/[Oo]bj/

*.nupkg
packages/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.bak

error_log.txt
*.log

tmp/
temp/