[Bb]in/
[Oo]bj/

packages/

!packages/repositories.config

*.swp
*.*~
~$*
*.tmp
*.temp

*.pidb

*.log
*.sqlite

.idea/

.vscode/

TestResult.xml
*.trx

doc/
docs/

.vs/
*.swp

*.backup

.idea/

[Tt]emp/

_ReSharper.*
*.dotCover

*.bak
*.orig
*.cache

**/wwwroot/lib/
**/node_modules/

*.psess
*.vsp
*.vspx

*.sln.iml

.dotnet/

local.settings.json

.cache/